attrs
channels_redis~=4.2.0
django-celery-email
django-cors-headers~=4.4.0
django-pipeline~=3.1.0
django-redis~=5.4.0
MySQL-python
psycopg2
raven
service_identity
uwsgi
django~=4.0
openwisp2_controller
openwisp2_network_topology
openwisp2_firmware_upgrader
openwisp2_monitoring
openwisp2_radius
