- name: create {{ openwisp2_path }}
  file:
    path: "{{ openwisp2_path }}"
    state: directory
    group: www-data
    mode: 0775

- name: create "{{ openwisp2_path }}/openwisp2"
  file:
    path: "{{ openwisp2_path }}/openwisp2"
    state: directory
    group: www-data
    mode: 0775

- name: create "{{ openwisp2_path }}/log"
  file:
    path: "{{ openwisp2_path }}/log"
    state: directory
    group: www-data
    mode: 0775

- name: manage.py
  notify: restart openwisp2
  template:
    src: ../templates/manage.py
    dest: "{{ openwisp2_path }}/manage.py"
    group: www-data
    mode: 0754

- name: __init__.py
  notify: restart openwisp2
  template:
    src: ../templates/openwisp2/__init__.py
    dest: "{{ openwisp2_path }}/openwisp2/__init__.py"
    group: www-data

- name: urls.py
  notify: restart openwisp2
  template:
    src: ../templates/openwisp2/urls.py
    dest: "{{ openwisp2_path }}/openwisp2/urls.py"
    group: www-data

- name: wsgi.py
  notify: restart openwisp2
  template:
    src: ../templates/openwisp2/wsgi.py
    dest: "{{ openwisp2_path }}/openwisp2/wsgi.py"
    group: www-data

# set openwisp2_secret_key if not defined explicitly
- include: django_secret_key.yml
  when: openwisp2_secret_key is not defined

- name: settings.py
  notify: restart openwisp2
  template:
    src: ../templates/openwisp2/settings.py
    dest: "{{ openwisp2_path }}/openwisp2/settings.py"
    group: www-data

- name: migrate
  notify: restart openwisp2
  become: yes
  become_user: www-data
  django_manage:
    app_path: "{{ openwisp2_path }}"
    command: migrate
    virtualenv: "{{ virtualenv_path }}"

- name: set permissions to sqlite db
  when: openwisp2_database.engine == "django.db.backends.sqlite3"
  file:
    path: "{{ openwisp2_database.name }}"
    state: file
    group: www-data
    mode: 0775

- name: collectstatic
  notify: restart openwisp2
  become: yes
  become_user: www-data
  django_manage:
    app_path: "{{ openwisp2_path }}"
    command: "collectstatic --noinput"
    virtualenv: "{{ virtualenv_path }}"

- name: create_superuser.py
  template:
    src: ../templates/create_superuser.py
    dest: "{{ openwisp2_path }}/create_superuser.py"
    mode: 0744

- name: create superuser (only if no superuser is present)
  shell: "env/bin/python create_superuser.py > .superuser-result"
  args:
    chdir: "{{ openwisp2_path }}"
    creates: "{{ openwisp2_path }}/.superuser-result"
