---

- name: Generate default certificates for the WPA Enterprise TTLS
  become_user: freerad
  command: "make server dh"
  args:
    chdir: "{{ freeradius_dir }}/certs"
    creates: "{{ freeradius_dir }}/certs/server.pem"
  when: org.cert is not defined
  tags: [freeradius_eap]

- name: Generate default DH key and certificates
  block:
    - name: "Check if {{ freeradius_dir }}/certs/dh exists"
      ansible.builtin.stat:
        path: "{{ freeradius_dir }}/certs/dh"
      register: cert_dh_exists
    - name: Generate DH key and certificates
      command:
        cmd: make destroycerts dh all
        chdir: "{{ freeradius_dir }}/certs"
      when: not cert_dh_exists.stat.exists
  notify: Restart freeradius
  tags: [freeradius_eap]

- name: "Copy {{ org.name }} EAP openwisp_site"
  template:
    src: "{{ freeradius_eap_openwisp_site_template_src }}"
    dest: "{{ freeradius_dir }}/sites-available/{{ org.name }}_eap_openwisp_site"
    owner: freerad
    group: freerad
    mode: '0644'
  notify: Restart freeradius
  tags: [freeradius_eap]

- name: "Create a symlink in sites-enabled for {{ org.name }} EAP openwisp_site"
  ansible.builtin.file:
    src: "{{ freeradius_dir }}/sites-available/{{ org.name }}_eap_openwisp_site"
    dest: "{{ freeradius_dir }}/sites-enabled/{{ org.name }}_eap_openwisp_site"
    state: link
  notify: Restart freeradius
  tags: [freeradius_eap]

- name: "Copy {{ org.name }} eap_inner_tunnel"
  template:
    src: "{{ freeradius_eap_inner_tunnel_template_src }}"
    dest: "{{ freeradius_dir }}/sites-available/{{ org.name }}_eap_inner_tunnel"
    owner: freerad
    group: freerad
    mode: '0644'
  notify: Restart freeradius
  tags: [freeradius_eap]

- name: "Create a symlink in sites-enabled for {{ org.name }} eap_inner_tunnel"
  ansible.builtin.file:
    src: "{{ freeradius_dir }}/sites-available/{{ org.name }}_eap_inner_tunnel"
    dest: "{{ freeradius_dir }}/sites-enabled/{{ org.name }}_eap_inner_tunnel"
    state: link
  notify: Restart freeradius
  tags: [freeradius_eap]

- name: Copy {{ org.name }} custom EAP configuration in mods-available
  template:
    src: "{{ freeradius_eap_template_src }}"
    dest: "{{ freeradius_dir }}/mods-available/{{ org.name }}_eap"
    owner: freerad
    group: freerad
    mode: '0644'
  notify: Restart freeradius
  tags: [freeradius_eap]

- name: Create a symlink in mods-enabled
  ansible.builtin.file:
    src: "{{ freeradius_dir }}/mods-available/{{ org.name }}_eap"
    dest: "{{ freeradius_dir }}/mods-enabled/{{ org.name }}_eap"
    state: link
  notify: Restart freeradius
  tags: [freeradius_eap]
