---

- name: Update pip & related tools
  pip:
    name:
      - pip
      - setuptools
      - wheel
      - attrs
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success

- name: Remove jsonfield2
  pip:
    name:
      - jsonfield2
    state: absent
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 2
  delay: 5
  register: result
  until: result is success
  notify: reload supervisor

- name: Install openwisp2 controller and its dependencies
  pip:
    name:
      - "{{ openwisp2_controller_version }}"
      - service_identity
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
    LC_CTYPE: "en_US.UTF-8"
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success
  tags:
    - molecule-idempotence-notest

- name: Pin channels_redis to 2.4 for redis 4 compatibility
  when: use_redis4 is defined and use_redis4 is succeeded
  pip:
    name:
      - channels_redis~=2.4
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 1
  delay: 10
  register: result
  until: result is success
  tags:
    - molecule-idempotence-notest

- name: Install django-redis
  pip:
    name: "django-redis>=4.9.0"
    state: present
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success

- name: Install openwisp2 network topology and its dependencies
  when: openwisp2_network_topology
  pip:
    name: "{{ openwisp2_network_topology_version }}"
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success
  tags:
    - molecule-idempotence-notest

- name: Install openwisp firmware upgrader and its dependencies
  when: openwisp2_firmware_upgrader
  pip:
    name: "{{ openwisp2_firmware_upgrader_version }}"
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success
  tags:
    - molecule-idempotence-notest

- name: Install openwisp monitoring and its dependencies
  when: openwisp2_monitoring
  pip:
    name: "{{ openwisp2_monitoring_version }}"
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success
  tags:
    - molecule-idempotence-notest

- name: Install openwisp2_radius and its dependencies
  when: openwisp2_radius
  pip:
    name: "{{ openwisp2_radius_version }}"
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success
  tags:
    - molecule-idempotence-notest

- name: Install extra python packages
  pip:
    name: "{{ openwisp2_extra_python_packages }}"
    state: latest
    # fixes bug #263, remove when support for Ubuntu 18.04 is dropped
    extra_args: |
      {% if ansible_distribution == 'Ubuntu' and ansible_distribution_version is version_compare('18.04', 'le') %}
        --no-use-pep517
      {% endif %}
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install static minification dependencies
  pip:
    name:
      - django-pipeline~=2.0.0
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install uwsgi
  pip:
    name: uwsgi
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install psycopg2
  when: openwisp2_database.engine in ["django.db.backends.postgresql", "django.contrib.gis.db.backends.postgis"]
  pip:
    name: psycopg2
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install MySQL-python
  when: openwisp2_database.engine in ["django.db.backends.mysql", "django.contrib.gis.db.backends.mysql"]
  pip:
    name: MySQL-python
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install raven (sentry client)
  when: openwisp2_sentry.get('dsn')
  pip:
    name: raven
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install django-celery-email
  pip:
    name: django-celery-email
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  when: openwisp2_email_backend == "djcelery_email.backends.CeleryEmailBackend"
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install django
  pip:
    name: "{{ openwisp2_django_version }}"
    state: present
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_python }}"
    virtualenv_site_packages: true
  environment:
    SETUPTOOLS_USE_DISTUTILS: stdlib
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor
  tags:
    - molecule-idempotence-notest
