[program:celerybeat]
user={{ www_user }}
directory={{ openwisp2_path }}
command={{ openwisp2_path }}/env/bin/celery -A openwisp2 beat -l info
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ openwisp2_path }}/log/celerybeat.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
