[program:celery]
user={{ www_user }}
directory={{ openwisp2_path }}
command={{ openwisp2_path }}/env/bin/celery -A openwisp2 worker -l info --queues celery -O {{ openwisp2_celery_optimization }}{% if openwisp2_celery_concurrency %} --concurrency={{ openwisp2_celery_concurrency }}{% elif openwisp2_celery_autoscale %} --autoscale {{ openwisp2_celery_autoscale }}{% endif %}{% if openwisp2_celery_prefetch_multiplier %} --prefetch-multiplier {{ openwisp2_celery_prefetch_multiplier }}{% endif %} -n background@%%h{% if openwisp2_celery_pool %} --pool={{ openwisp2_celery_pool }}{% endif %}

autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ openwisp2_path }}/log/celery.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
