[fcgi-program:daphne]
user={{ www_user }}
socket=tcp://localhost:8000
directory={{ openwisp2_path }}
command={{ openwisp2_path }}/env/bin/daphne --fd 0 -u {{ openwisp2_path }}/daphne%(process_num)d.sock --access-log - --proxy-headers openwisp2.asgi:application
process_name=asgi%(process_num)d
numprocs={{ openwisp2_daphne_processes }}
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ openwisp2_path }}/log/daphne.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
