[program:runworker]
user={{ www_user }}
directory={{ openwisp2_path }}
command={{ openwisp2_path }}/env/bin/python manage.py runworker
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ openwisp2_path }}/log/runworker.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
