server default {
    listen {
        type = auth
        ipaddr = *
        port = 0
        limit {
            max_connections = 16
            lifetime = 0
            idle_timeout = 30
        }
    }

    listen {
        ipaddr = *
        port = 0
        type = acct
        limit {}
    }

    authorize {
        rest
        sql
        dailycounter
        noresetcounter
        dailybandwidthcounter
    }

    authenticate {}

    preacct {
        preprocess
        acct_unique
        suffix
        files
    }

    accounting {
        rest
    }

    session {}

    post-auth {
        rest

        Post-Auth-Type REJECT {
            rest
        }
    }

    pre-proxy {}
    post-proxy {}
}
