# The dailycounter is included by default in the freeradius conf

sqlcounter dailycounter {
    sql_module_instance = sql
    dialect = "{{ freeradius_sql.dialect }}"

    counter_name = Daily-Session-Time
    check_name = Max-Daily-Session
    reply_name = Session-Timeout

    key = User-Name
    reset = daily

    $INCLUDE ${modconfdir}/sql/counter/${dialect}/${.:instance}.conf
}
# The dailybandwidthcounter is added by OpenWISP
sqlcounter dailybandwidthcounter {
    sql_module_instance = sql
    dialect = "{{ freeradius_sql.dialect }}"

    counter_name = Max-Daily-Session-Traffic
    check_name = Max-Daily-Session-Traffic
    key = User-Name
    reset = daily

    $INCLUDE ${modconfdir}/sql/counter/${dialect}/${.:instance}.conf
}

sqlcounter noresetcounter {
    sql_module_instance = sql
    dialect = "{{ freeradius_sql.dialect }}"

    counter_name = Max-All-Session-Time
    check_name = Max-All-Session
    key = User-Name
    reset = never

    $INCLUDE ${modconfdir}/sql/counter/${dialect}/${.:instance}.conf
}

sqlcounter monthlycounter {
    sql_module_instance = sql
    dialect = "{{ freeradius_sql.dialect }}"

    counter_name = Monthly-Session-Time
    check_name = Max-Monthly-Session
    reply_name = Session-Timeout
    key = User-Name
    reset = monthly

    $INCLUDE ${modconfdir}/sql/counter/${dialect}/${.:instance}.conf
}

sqlcounter expire_on_login {
    sql_module_instance = sql
    dialect = "{{ freeradius_sql.dialect }}"

    counter_name = Expire-After-Initial-Login
    check_name = Expire-After
    key = User-Name
    reset = never

    $INCLUDE ${modconfdir}/sql/counter/${dialect}/${.:instance}.conf
}
