---

- name: reload systemd
  systemd:
    daemon_reload: true
  when: ansible_distribution_release in ['bionic'] and ansible_service_mgr == 'systemd'

- name: reload supervisor
  command: supervisorctl reload

- name: restart nginx
  service:
    name: nginx
    state: restarted

- name: start redis
  when: openwisp2_redis_install
  service:
    name: redis
    state: started

- name: start influxdb
  when: openwisp2_influxdb_install
  service:
    name: influxdb
    state: started
