query = "\
        SELECT sum(AcctOutputOctets) + sum(AcctInputOctets) \
        FROM radacct WHERE \
        UserName = '%{${key}}' AND \
        AcctStartTime::ABSTIME::INT4 + AcctSessionTime > '%%b'"
