[program:openwisp2]
user=www-data
directory={{ openwisp2_path }}
command={{ openwisp2_path }}/env/bin/uwsgi --ini uwsgi.ini
autostart=true
autorestart=true
stopsignal=INT
redirect_stderr=true
stdout_logfile={{ openwisp2_path }}/log/uwsgi.log
stdout_logfile_maxbytes=30MB
stdout_logfile_backups=5
