server openwisp_site-org_{{ org.name }} {
    listen {
        type = auth
        ipaddr = {{ org.listen_ipaddr | default(freeradius_openwisp_site_listen_ipaddr) }}
        port = {{ org.auth_port }}
        limit {
            max_connections = 16
            lifetime = 0
            idle_timeout = 30
        }
    }

    listen {
        ipaddr = {{ org.listen_ipaddr | default(freeradius_openwisp_site_listen_ipaddr) }}
        port = {{ org.acct_port }}
        type = acct
        limit {}
    }

    api_token_header = "Authorization: Bearer {{ org.uuid }} {{ org.radius_token }}"
    authorize {
        eap-org_{{ org.name }} {
          ok = return
        }
        update control { &REST-HTTP-Header += "${...api_token_header}" }
        filter_username
        rest
        expiration
        logintime
    }

    authenticate {
        Auth-Type eap-org_{{ org.name }} {
            eap-org_{{ org.name }}
        }
        Auth-Type PAP {
            pap
        }

        Auth-Type CHAP {
            chap
        }

        Auth-Type MS-CHAP {
            mschap
        }

        Auth-Type EAP {
            eap
        }
    }

    preacct {
        preprocess
        acct_unique
        suffix
        files
    }

    accounting {
        update control { &REST-HTTP-Header += "${...api_token_header}" }
        rest
    }

    session {}

    post-auth {
        update control { &REST-HTTP-Header += "${...api_token_header}" }
        rest

        Post-Auth-Type REJECT {
        update control { &REST-HTTP-Header += "${....api_token_header}" }
            rest
        }
    }

    pre-proxy {}
    post-proxy {}
}
