---

name: Ansible-OpenWISP2 CI Build

on:             # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - dev
      - "25.10"
      - "24.11"
  pull_request:
    branches:
      - master
      - dev
      - "25.10"
      - "24.11"

jobs:
  build:
    name: Build ${{ matrix.distro }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu2204
          - ubuntu2404
          - debian12
          - debian13

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install python dependencies
        run: |
          pip install -U pip wheel setuptools
          pip install -r requirements-test.txt

      - name: Install Ansible Galaxy dependencies
        run: ansible-galaxy collection install "community.general:>=3.6.0"

      - name: QA checks
        continue-on-error: true
        run: |
          ./run-qa-checks

      - name: Tests
        run: |
          mkdir -p ~/.ansible/roles
          ln -s $GITHUB_WORKSPACE ~/.ansible/roles/openwisp.openwisp2
          molecule test
        env:
          ROLE_NAME: openwisp2
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          ANSIBLE_ROLES_PATH: /home/runner/.cache/molecule/ansible-openwisp2/default/roles:/home/runner/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

  import:
    name: Update imports on Ansible Galaxy
    runs-on: ubuntu-22.04
    container: python:3-slim
    needs:
      - build

    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    steps:
      - name: Install ansible
        run: pip install ansible

      - name: Update imports on Ansible Galaxy
        run: |
          ansible-galaxy role import --api-key ${{ secrets.GALAXY_API_KEY }} openwisp ansible-openwisp2
